{% extends "./_base.njk" %}

{% block title %}
{{ title }} - {{ site.name }}
{% endblock %}

{% block main %}
  <h1 class="er-heading-xl er-template__heading">
    {%- if formattedTitle %}
      {% if formattedTitle.pre %}<span class="er-subheading-xl">{{ formattedTitle.pre }}</span>{% endif %}
      {{ formattedTitle.title }}
      {% if formattedTitle.sub %}<span class="er-subheading-xl">{{ formattedTitle.sub }}</span>{% endif %}
    {%- else %}
      {{- title -}}
    {%- endif %}
  </h1>
  
  {{ content | safe }}
  
  {%- if categories %}
    <p>Categorised as:</p>
    <ul>
      {%- for t in categories %}
      <li>{{ t }}</li>
      {%- endfor %}
    </ul>
  {%- endif %}
{% endblock %}

{% block sidebar %}
  <nav class="er-navigation" aria-label="Main navigation">
    <button class="er-navigation__toggle" type="button" id="menu-toggle" hidden>Menu</button>
    <div class="er-navigation__menu" id="menu">
      {%- for sectionName, links in site.navigation %}
        {%- if sectionName %}
          <h2 class="er-heading-xs">{{ sectionName }}</h2>
        {%- endif %}
        <ul class="er-list">
          {%- for url, title in links %}  
          <li><a class="er-ui-link" href="{{ url }}">{{ title }}</a></li>
          {%- endfor %}
        </ul>
      {%- endfor %}
    </div>
  </nav>
{% endblock %}

{% block footer %}
  <ul class="er-footer">
    <li class="er-footer__item">
      <a class="er-ui-link" href="{{ gitEditUrl(page.inputPath) }}">Edit this page</a>
    </li>
    <li class="er-footer__item">
      <a class="er-ui-link" href="{{ gitHistoryUrl(page.inputPath) }}">View history</a>
    </li>
    <li class="er-footer__item">
      Last edited: {{ gitEditDate(page.date) }}
    </li>
  </ul>
{% endblock %}