// headings
.er-heading-xl,
.er-heading-l,
.er-heading-m,
.er-heading-s,
.er-heading-xs {
  font-family: var(--font-heading);
  text-wrap: balance;
  line-height: 1.5;
}

.er-heading-xl {
  margin-block-start: 0;
  margin-block-end: var(--space-xl);
  color: var(--color-text-accent);
  font-size: var(--size-4);
  line-height: 1.1;

  &::before {
    content: "";
    display: block;
    inline-size: 10rem;
    block-size: 0.5rem;
    margin-block-end: var(--space-xs);
    background-image: var(--rgb-strip);
  }
}

.er-heading-l {
  margin-block-start: var(--space-2xl);
  margin-block-end: var(--space-l);
  font-size: var(--size-3);
  line-height: 1.1;
}

.er-heading-m {
  margin-block-start: var(--space-xl);
  margin-block-end: var(--space-m);
  font-size: var(--size-2);
  line-height: 1.25;
}

.er-heading-s {
  margin-block-start: var(--space-l);
  margin-block-end: var(--space-m);
  font-size: var(--size-1);
}

.er-heading-xs {
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-3xs);
  font-size: var(--size-0);
  letter-spacing: unset;
}

// subheadings
.er-subheading-xl,
.er-subheading-l,
.er-subheading-m {
  display: block;
  font-family: var(--font-heading);
  text-wrap: balance;
  line-height: 1.25;
}

.er-subheading-xl {
  font-size: var(--size-2);
}

.er-subheading-l {
  font-size: var(--size-1);
}

.er-subheading-m {
  font-size: var(--size-0);
}

// body copy
.er-body,
.er-body-l,
.er-body-s {
  max-inline-size: 48ch;
  margin-block-start: 0;
  margin-block-end: var(--space-s);
  line-height: 1.5;
}

.er-body {
  font-size: var(--size-0);
}

.er-body-l {
  font-size: var(--size-1);
}

.er-body-s {
  font-size: var(--size--1);
}
