---
pagination:
  data: collections.allTags
  size: 1
  alias: tag
  filter: [all]
eleventyComputed:
  title: Pages categorised as “{{ tag }}”
permalink: "{{ tag | tagUrl }}"
---

{%- set totalResults = collections[tag] | length %}

<p class="er-body-s">{{ totalResults }} {{ 'page' if totalResults == 1 else 'pages' }}.</p>

<ul class="er-list">
  {%- for page in collections[tag] %}
    <li><a class="er-link" href="{{ page.url | url }}">{{ page.data.title }}</a></li>
  {%- endfor %}
</ul>